{% load static %}
<head>
    <title>{{user.username}} portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css2/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css2/responsive.css' %}">
    <script src="{% static 'js2/pace.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'images/logo.jpeg' %}">
    <style>
        #scr-down .about-img img {
            width: 30%;
            height: 30%;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .port-style {
            min-height: 300px;
        }

        @media only screen and (max-width: 1250px) {
            #scr-down .about-img img {
                width: 40%;
                height: 40%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        @media(max-width:840px) {
            .port-style {
                min-height: 350px;
                margin-top: -80px;
            }
        }

        @media only screen and (max-width:450px) {
            #scr-down .about-img img {
                width: 60%;
                height: 60%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        @media(max-width:600px) {
            .port-style {
                min-height: 600px;

                /* margin-top:0px; */
            }

            /* .diamondswrap{
        marg
    } */
        }

        @media only screen and (max-width: 700px) {
            #scr-down .about-img img {
                width: 60%;
                height: 60%;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    </style>


</head>

<body>

    <div id="vid-overlay"></div>
    <!-- Intro -->
    <section id="intro">
        <div id="intro-text">

            {% if portfolio_views is not None %}
            <p style="color: white; font-size:20px;margin-left: 20px;">Total Portfolio Views: {{ portfolio_views }}</p>
            <br>
            {% endif %}

            <!-- To change text go to scripts.js -->
            <h1>We are <span id="fill-text"></span></h1>
            <div href="#about" id="scr-down">
                <h2><span>{{details.name}}</span> </h2>
                {% if details.photo %}
                <div class="about-img">

                    <img src="{{ MEDIA_URL }}{{ details.photo.url }}" alt="Profile-Image" id="profileImage" /><br>


                </div>
                {% endif %}


                <a href="#about">
                    <img src="{% static 'images2/scr_down.png' %}">
                </a>
            </div>
        </div>
    </section>
    <!-- About -->
    <section id="about">
        <article>
            <h5>The Brief</h5>
            <h1><span>Hello ,
                </span>,{{ details.User_description}}
                <br>
                {% if details.Resume %}
                &nbsp;<a id="send-btn" href="{{details.Resume.url}}" target="_blank">
                    CV
                </a> <br>
                {% else %}
                &nbsp;<a href="{% url 'generate_pdf' user.username %}" id="send-btn">CV</a>
                {% endif %}

        </article>
    </section>
    <!-- Services -->
    {% if services %}
    <section id="services">
        <h2>Services <span>that we offer</span></h2>
        <article>
            {% for s in services %}
            <div id="php">
                <h3>{{s.title}}</h3>
            </div>
            {% endfor %}
        </article>
    </section>{% endif %}
    <!-- Process -->
    <section id="process">
        <h2>Skills</h2>
        <article>
            {% for skill in skills_details|slice:":4" %}
            <span id="code">
                <!-- <img src="{% static 'images2/code.png' %}"> -->
                <h5>{{skill.skills}}</h5>
                <h5>{{skill.level}}%</h5>
            </span>
            {% endfor %}
            <h4>&hellip;and more.</h4>
        </article>
    </section>
    <!-- Portfolio -->
    {% if project_details %}
    <section id="portfolio">
        <div id="color-bg"></div>
        <h2>Portfolio</h2>
        <ul class="port-style">
            <div class="diamondswrap" id="port-items">
                {% for p in project_details %}
                <div class="item" style="background-image: url(/static/images2/portfolio/{{forloop.counter}}.jpg);">
                    <span class="item-hover">
                        <h4>{{p.title}}</h4><a href="{{p.link}}">Take a look</a>
                    </span></div>
                {% endfor%}
            </div>
        </ul>
    </section>{% endif %}
    <!-- Contact -->
    <section id="contact">
        <article>
            <div id="contact_form">
                <h3>Let's start a project</h3>
                <p>If you have a project in mind, you can use the below form to contact us.</p>
                <hr>
                <form id="cont-form" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" required id="id_name" placeholder="Name"><span>*</span><br>
                    <input type="text" spellcheck='false' name="email" required id="id_email"
                        placeholder="Email Address"><span>*</span><br>
                    <input type="text" name="subject" required id="id_subject" placeholder="Subject"><span>*</span><br>
                    <textarea name="message" placeholder="Tell us a little about your project" required
                        id="id_message"></textarea><span style="margin-top:12px;">*</span><br>
                    <input type="submit" value="Send " id="send-btn">

                    <div class="clr"></div>
                </form>
            </div>
            <div id="address">
                <p>or you can send an email or call us.</p>
                <span style="font-size:15px;">{{details.email}}</span>
                <span>(+91) {{details.mobile_number}}</span>
                <span>{{details.address}}</span>



                {% for link in link %}

                <a href="{{link.github}}" target="_blank" style="color: black; font-size:20px; margin-left:40px">
                    Github</a><br> <br>
                <a href="{{link.linkdin}}" target="_blank" style="color: black; font-size:20px; margin-left:40px">
                    Linkdin </a><br><br>
                {% if link.facebook %}
                <a href="{{link.facebook}}" target="_blank" style="color: black; font-size:20px; margin-left:40px">
                    Facebook</i></a><br><br>
                {% endif %} {% if link.instagram %}
                <a href="{{link.instagram}}" target="_blank" style="color: black;font-size:20px; margin-left:40px">
                    Instagram</a>
                {% endif %} {% endfor %}
            </div>
        </article>

    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
    <script src="{% static 'js2/modernizr.custom.js' %}"></script>
    <script src="{% static 'js2/device.min.js' %}"></script>
    <script src="{% static 'js2/jquery.wordrotator.js' %}"></script>
    <script src="{% static 'js2/smooth-scroll.js' %}"></script>
    <script src="{% static 'js2/TweenMax.min.js' %}"></script>
    <script src="{% static 'js2/jquery.superscrollorama.js' %}"></script>
    <script src="{% static 'js2/jquery.diamonds.js' %}"></script>
    <script src="{% static 'js2/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'js2/scripts.js' %}"></script> <!-- Edit this -->
    <!-- Put background video URL here  -->
    <a class="player"
        data-property="{videoURL:'http://youtu.be/UDV5O4N4FE4',containment:'body',autoPlay:true, quality:'large',  mute:true, startAt:0,opacity:1}"></a>

    <div class="footer" style="background-color: rgb(82, 84, 86); height:120px;">
        <div class="wrap">
            <div class="footer-grid footer-grid1">
                <div class="f-logo">
                    <a href="{% url 'home' %}">
                        <h1 style="font-size:1.5rem; color:white; font-style: italic; margin-left:2%">Portfolio Builder
                        </h1>
                    </a>
                    {% if portfolio_views is not None %}<br>
                    <a href="{url 'user_profile' %}" style="font-size:15px; color:white; margin-left:2%;">Edit More
                        details</a>
                    {% endif %}
                </div>
            </div>
            <div class="footer-grid footer-grid2">

                <ul>


                    <li><i class="mail"> </i>
                        <div class="extra-wrap1"><br>

                            <p style="color: white; font-size:20px;font-style: italic; margin-left: 2%;">© Copyright By
                                Sanskar Sijariya</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clear"> </div>
        </div>
    </div>



    <div class="clear"></div>
    </div>
    </div>
</body>